.cs-header-margin {
  margin-top: 60px;
}

.cs-primary-bg-color {
  background-color: #5c6bc0
}

.cs-fab {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 0;
  background-color: #5c6bc0;
}

.nav-alerts-icon .badge {
  position: relative;
  left: 30px;
  bottom: 10px;
}

.cs-pointer {
  cursor: pointer;
}
